.contact-section {
    text-align: center;
    padding: 60px 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 1200px; /* Ajuste para o mesmo tamanho das outras seções */
    margin: 0 auto;
  }
  
  .contact-intro {
    color: #2d86fbd5;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .contact-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .contact-section h3 {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #666;
  }
  
  .contact-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .contact-section button {
    margin-top: 20px;
  }